@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #802bb1;
  --background-color: #2d283e;
  --surface-color: rgba(241, 241, 241, 0.9);
  --text-color: #f1f1f1;
  --dark-text-color: #030303;
  --secondary-text-color: #979797;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body.preload {
  visibility: hidden;
}

body.loaded {
  visibility: visible;
}

.hidden-images {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--background-color);

  display: grid;
  grid-template-areas:
    'nav-bar'
    'main';
  grid-template-rows: 70px calc(100% - 70px);

  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

/* NAVIGATION BAR */
.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  position: relative;
  height: 100%;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 0 0 10px 10px;

  display: flex;
  align-items: center;
}

.nav-bar a {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;

  width: 200px;
  padding: 22px;
  text-align: center;

  will-change: transform, font-weight;
  cursor: pointer;
  transition: transform 200ms;
}
.nav-bar a:hover {
  transform: scale(1.1);
}
.nav-bar a:not(.selected):hover::before {
  content: '●';
  opacity: 0.5;
  position: absolute;

  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.nav-bar .selected {
  font-weight: 500;
}
.selected::before {
  content: '●';
  position: absolute;

  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 10%);
}


.hamburguer {
  display: none;
  background-color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 4px;

  cursor: pointer;
}
.hamburguer svg {
  display: block;
  margin: auto;

  transform: scale(1.2);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  .nav-bar {
    width: 100%;
    justify-content: space-evenly;
    border-radius: 0;
    gap: 0;
    padding: 0;
  }
  .nav-bar a {
    width: 50%;
    height: 100%;

    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }

  .hamburguer {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
  }

  .nav-bar-container {
    width: 100%;
    height: fit-content;
  }
  .nav-bar {
    display: none;

    gap: 15px;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: fit-content;

    z-index: 1;
  }

  .nav-bar a {
    width: 100%;
    height: 100%;

  }
}
